<!doctype html>


<head>
  <title>{{title}}</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/stylesheet.css">

</head>


<header>
  <div>

    <div class="appName">
      Spätifinder Berlin
    </div>
    <div class="searchContainer">
      <input type="text" id="address" placeholder=" e.g. Skalitzer Straße"></input>
      <button type="submit" id="searchAddress">Search</button>
    </div>
    <div class="menuContainer">
      <i class="fas fa-ellipsis-v" style="font-size: 1em; color:white"></i>

    </div>
  </div>
</header>

<body>
  {{{body}}}
  <div id="map"></div>

  <div id="modal" class="modal">
    <div class="modal-body">
      <p id="closeTag">x</p>
      <h3 class="name"></h3>
      <p class="spaetiAddress"></p>
      <div>Distance to current location:
      <p class="distance"></p>
    </div>
      <div class="titles">Opening hours:
        <p class="openingHours"></p>
      </div>
      <div class="titles"> Choice of products:
        <p class="offer"> </p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="scribbles.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4WhuiOWGjYKxfeO7RrqJsk0llTAEx5Kc&callback=geoFindMe">
  </script>

</body>

</html>
